@import './bootstrapComponents';
@import './../../lib/fontastic/styles';

/* Breakpoints (Bootstrap defaults) */
$xsBreakpoint: map-get($grid-breakpoints, 'sm') - 1;
$smBreakpoint: map-get($grid-breakpoints, 'sm');
$mdBreakpoint: map-get($grid-breakpoints, 'md');
$lgBreakpoint: map-get($grid-breakpoints, 'lg');
$xlBreakpoint: map-get($grid-breakpoints, 'xl');

a {
  text-decoration: none !important;
}
button {
  outline: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
}
input {
  box-shadow: none !important;
}

#githubIcon {
  margin-left: 10px;

  .icon {
    font-size: 20px;
    color: $gray-900;
  }
}

.container2 {
  max-width: 500px;
  margin: 100px auto;
  @media (max-width: #{$xsBreakpoint}) {
    margin: 50px auto;
  }
}

.card {
  margin-top: 50px;

  .card-header {
    #gearIcon {
      cursor: pointer;
      font-size: 12px;
      margin-left: 5px;
    }

    #openNewPersonModal {
      height: 24px;
      font-size: 9px;
      text-transform: uppercase;
    }
  }

  .card-body {
    padding: 0;
  }
}
